.container{
    margin: 5rem auto;
    text-align: center;
}

.box {
    border: 1px solid white;
    border-radius:1rem;
    width: 25rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
.box:hover {
    transform: scale(1.1);
    border-color: #646cff;
  }

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 5rem;
}

.col{
    margin: 0 auto;
    text-align: center;
}

.btn{
  text-align: right;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}