.container {
  margin: 1rem auto;
  text-align: center;
}

.container button {
  margin: 0.5rem;
}
.container h1 {
  margin: 1rem;
}
.box {
  border: 1px solid white;
  border-radius: 1rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 0 0 1rem 0;
}
.container h3 {
  margin: 1rem auto;
}

.box:hover {
  transform: scale(1.1);
  border-color: #646cff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 5rem;
}

.col {
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin: 1rem 5rem 0 0;
  text-align: right;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  height: 11rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
